<a href="https://colab.research.google.com/github/GydeokLee/dl23/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A string is a sequence of characters enclosed in single or double quotes.


Integers are whole numbers, positive or negative, without any decimal points.

In [13]:
greeting = "Hello students!"
year = 2023

In [14]:
print(greeting)
print(year)

Hello students!
2023

In [15]:
message = greeting + " " + str(year)
print(message)

Hello students! 2023

In [19]:
num1 = 10
num2 = 3



print(num1 + num2)

13

In [20]:
num1 = 10
num2 = 3


print(num1 - num2)

7

In [3]:
user_string = input("Enter a string: ")
user_number = int(input("Enter a number: "))
print(user_string * user_number)

Enter a string: dhfjkadf
Enter a number: 3
dhfjkadfdhfjkadfdhfjkadf

In [5]:
sentence = "Coding is fun and easy to learn!."
word_list = sentence.split()
print(word_list)

['Coding', 'is', 'fun', 'and', 'easy', 'to', 'learn!.']

In [8]:
text = "Coding is Exciting!"

uppercase_text = text.upper()
lowercase_text = text.lower()
print("Uppercase text:", uppercase_text)
print("Lowercase text:", lowercase_text)

Uppercase text: CODING IS EXCITING!
Lowercase text: coding is exciting!

In [9]:
text = "Hello, world!"
print("First character:", text[0])
print("Last character:", text[-1])
print("First 5 characters:", text[:5])
print("Characters from position 5 to end:", text[5:])
print("Reverse order:", text[::-1])

First character: H
Last character: !
First 5 characters: Hello
Characters from position 5 to end: , world!
Reverse order: !dlrow ,olleH